.heading {
  color: brown;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  font-size: 45px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 15px;
  min-width: 100px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-weight: 600;
}

.primary {
  background-color: rgb(193, 193, 235);
  color: rgb(16, 16, 78);
}

.warning {
  background-color: rgb(240, 89, 109);
  color: rgb(128, 16, 31);
}

.primary:hover {
  background-color: rgb(176, 176, 224);
}

.warning:hover {
  background-color: rgb(212, 82, 99);
}

/* 
flex-direction: row

justify-content- horizontal
align-items- vertical 


flex-direction: column

justify-content- vertical
align-items- horizontal
*/
/* block elements */
/* inline elements */
